footer{
    background-color: rgba(153, 153, 153, 0.11);
    margin-top: 60px;
}

.footer_adjust{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0;
}

.footer_developers{
    padding-bottom: 5px;
}

.footer_text, .copyright{
    color: rgba(255, 255, 255, 0.671);
    font-size: 18px;
}

.footer_link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.671);
}

.footer_link:hover{
    color: rgb(200, 62, 255);
    transition: 300ms linear;
}


@media screen and (max-width: 1440px) {
    .footer_adjust{
        max-width: 800px;
    }
}