#homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.teste{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
}

.adjust{
    width: 1080px;
    position: fixed;
    margin-top: 100px;
}