.news{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.news_adjust{
    width: 1080px;
    height: auto;
    background-color: rgba(49, 49, 49, 0.548);
    border: 1px solid rgb(80, 80, 80);
    border-radius: 20px;
}

.news_text{
    color: rgba(255, 255, 255, 0.671);
    font-size: 30px;
}

.news_image{
    border-radius: 20px;
    background-color: rgba(49, 49, 49, 0.548);
    border: 1px solid rgb(80, 80, 80);
    padding: 10px 40px;
    display: flex;
    margin: 20px 100px;
}

.news_image_post:hover{
    transition: 
}

.news_image_post{
    margin-top: 10px;
    width: 100px;
    height: 100px;
}


.news_title_post{
    color: rgba(255, 255, 255, 0.911);
    font-size: 25px;
    text-align: left;
    padding-left: 40px;
}

.news_text_post{
    color: rgba(255, 255, 255, 0.671);
    text-align: left;
    padding-left: 40px;
    padding-bottom: 5px;
    height: 56.2px;
}

.news_autor_post{
    color: rgba(255, 255, 255, 0.671);
    text-align: left;
    padding-left: 40px;
    font-size: 12px;
}

.news_image_link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.911);
}