* {
  font-family: var(--font-text);
  color: rgb(255, 255, 255);
}

.title {
  font-size: 28px;
  font-weight: bold;
  border-bottom: solid 1px rgb(255, 255, 255);
  margin-bottom: 10px;
}

.title_main{
  font-family:var(--font-text);
  font-weight: 500;
  text-align: center;
  font-size: 38px;
  padding-bottom: 5px;
}

#title{
  margin-bottom: 20px;
}

.disclaimer {
  padding: 10px 0;
  font-size: 20px;
  text-align: center;
}

.introduction, #partitioning, #stage3, #enviroment{
  margin-bottom: 20px;
}

.cmd-box {
  color: black;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 10px;
  overflow: auto;
  border: solid 1px gray;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  width: 1170px;
}

.structures, .head{
  margin-top: 20px;
}

@media screen and (max-width: 1440px) {
  .container{
    margin: 0 60px;
    width: auto;
  }
}