.register-container{
    width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto; 
}

.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(153, 153, 153, 0.11);
    width: 400px;
    height: 600px;
    border:2px solid #d837d885;
    padding:20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.title{
    color: white;
    font-size: 32px;
    margin-bottom: 10px;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 20px;
    gap: 10px;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 257px;
}

input{
    border: 2px solid #bebebe75;
    padding: 5px;
    border-radius: 10px;
    color: black;
    width: 257px;
    height: 37px;
    font-size: 20px;
    font-family: arial;
}

button{
    border: 2px solid #9600a39d;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    color: white;
    font-size: 20px;
    background-color:  #eb4beb;
    cursor: pointer;
    margin-top: 20px;
}