.trending{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 60px;
}

.trending_adjust{
    width: 1080px;
    height: auto;
    background-color: rgba(49, 49, 49, 0.548);
    border: 1px solid rgb(80, 80, 80);
    border-radius: 20px;
}

.trending_title{
    margin-top: 5px;
    color: white;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 4px;
}

.trending_thumb{
    border-radius: 20px;
    background-color: rgba(49, 49, 49, 0.548);
    border: 1px solid rgb(80, 80, 80);
    padding: 20px 40px;
    margin: 20px;
    transition: 0.3s linear;
}

.trending_thumb:hover{
    transform: scale(1.04);
    cursor: pointer;
}

.trending_box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.trending_image{
    max-width: 400px;
    max-height: 220px;
}

.trending_tile_link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.911);
    font-size: 25px;
}

.trending_text{
    color: rgba(255, 255, 255, 0.671);
}

.trending_text_autor{
    font-size: 14px;
}

hr{
    max-width: 416px;
    text-align: center;
    margin: 5px 0;
}

@media screen and (max-width: 1440px) {
    .trending_adjust{
        width: 800px;
    }

    .trending_box{
        grid-template-columns: 1fr;
    }

    .trending_thumb{
        width: 650px;
    margin-right: 80px;
    margin-left: 80px;
    }

    hr{
        max-width: 676px;
    }

    .trending_title{
        margin-left: 2px;
    }
}